body {
	background-color: #ffffff;
	margin-left: 50px;
	margin-right: 50px;
}

h1 {
	color: black;
}

#zoom_in {
	margin-top: 40px;
}

.drawing {
	margin-bottom: 20px;
	width: 800px;
	height: 100px;
}

#toggle {
	margin-top: 50px;
	margin-left: 15%;	
	width: 65%;
	height: 10%;
	font-size: 36px;
}

#filter {
	margin-top: 20px;
	margin-left: 15%;
	width: 65%;
	height: 10%;
	font-size: 36px;
}

.status_cap {
	color: orange;
}

.status_active {
	color: green;
}

.current_command_cap {
	color: orange;
}

.current_command {
	color: white;
	background-color: white;
	padding-left: 10px;
	padding-right: 10px;
}

.legend {
	font-size: 24px;
}

#zoom_in .legend table{
	color: red!important;
}

#zoom_out .legend table{
	color: black!important;
}

#rotate_left .legend table{
	color: green!important;
}

#rotate_right .legend table{
	color: blue!important;
}
